@media (max-width: 768px) {
    .about-me{
        display: none;
    }
    .navbar{
        max-width: 92vw;
        justify-content: center;
    }
    .navbar>ul>li{
        margin: 0 5%;
    }
    .navbar-menu{
        padding: 0;
    }
    h1{
        font-size: calc(30px + 14 * (100vw/1600));
        padding: 0 1%
    }
    h2{
        font-size: calc(20px + 14 * (100vw/1600));
    }
    .rules{
        padding:0 10px;
        text-align: justify;
    }
}